#Configuration info
[Project Info]
    Project = 206BD

###LogicalCameraConfiguration begin
[LogicalCameraConfiguration]
    NumOfLogicalCamera = 8
    LogicalCamera[0] = SingleWideCameraConfiguration
    LogicalCamera[1] = SingleFrontCameraConfiguration
    LogicalCamera[2] = SingleUltraWideCameraConfiguration
    LogicalCamera[3] = SingleMonoCameraConfiguration
    LogicalCamera[4] = SingleMacroCameraConfiguration
    LogicalCamera[5] = RTBUWWCameraConfiguration
    LogicalCamera[6] = RTBW1MCameraConfiguration
    LogicalCamera[7] = RTBW2MCameraConfiguration

[SingleWideCameraConfiguration]
    logicalCameraId    = 0
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleWideCameraDeviceInfo
    primarySensorID    = 0
    oemCameraType      = 0

[SingleWideCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[SingleFrontCameraConfiguration]
    logicalCameraId    = 1
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleFrontCameraDeviceInfo
    primarySensorID    = 2
    oemCameraType      = 1

[SingleFrontCameraDeviceInfo]
    sensorId               = 2
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[SingleUltraWideCameraConfiguration]
    logicalCameraId    = 2
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleUltraWideCameraDeviceInfo
    primarySensorID    = 1
    oemCameraType      = 2

[SingleUltraWideCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[SingleMonoCameraConfiguration]
    logicalCameraId    = 3
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleMonoCameraDeviceInfo
    primarySensorID    = 3
    oemCameraType      = 13

[SingleMonoCameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[SingleMacroCameraConfiguration]
    logicalCameraId    = 4
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleMacroCameraDeviceInfo
    primarySensorID    = 4
    oemCameraType      = 17

[SingleMacroCameraDeviceInfo]
    sensorId               = 4
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[RTBUWWCameraConfiguration]
    logicalCameraId    = 5
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBUWCameraDeviceInfo
    deviceInfo[1]      = RTBWCameraDeviceInfo
    primarySensorID    = 0
    oemCameraType      = 8

[RTBUWCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[RTBWCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[RTBW1MCameraConfiguration]
    logicalCameraId    = 6
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBUWCameraDeviceInfo1
    deviceInfo[1]      = RTBWCameraDeviceInfo1
    primarySensorID    = 0
    oemCameraType      = 15

[RTBUWCameraDeviceInfo1]
    sensorId               = 3
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[RTBWCameraDeviceInfo1]
    sensorId               = 0
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[RTBW2MCameraConfiguration]
    logicalCameraId    = 7
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBUWCameraDeviceInfo2
    deviceInfo[1]      = RTBWCameraDeviceInfo2
    primarySensorID    = 0
    oemCameraType      = 16

[RTBUWCameraDeviceInfo2]
    sensorId               = 4
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

[RTBWCameraDeviceInfo2]
    sensorId               = 0
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    realtimeEngine         = 0
    alwaysOn               = true

###LogicalCameraConfiguration end

[OemCamSensorSettingMap]
    #operation mode     operation_mode     sensor_mask        feature_mask      index
    Mode[0]         =     0x8001;            0x0001;            0x0000;           0   # rear common
    Mode[1]         =     0x8001;            0x0004;            0x0000;           0   # rear wide
    Mode[2]         =     0x8019;            0x0001;            0x0000;           0   # rear night
    Mode[3]         =     0x8019;            0x0004;            0x0000;           0   # rear night wide
    Mode[4]         =     0x8011;            0x0001;            0x0000;           5   # rear boken
    Mode[5]         =     0x8011;            0x0004;            0x0000;           1   # rear boken
    Mode[6]         =     0x8007;            0x0001;            0x0000;           2   # rear fullcapture
    Mode[7]         =     0x800B;            0x0001;            0x0000;           2   # rear video
    Mode[8]         =     0x800B;            0x0004;            0x0000;           1   # rear video wide
    Mode[9]         =     0x8001;            0x0002;            0x0000;           0   # front boken
    Mode[10]        =     0x800B;            0x0002;            0x0000;           1   # front video
    Mode[11]        =     0x800C;            0x0002;            0x0000;           1   # front delay video
    Mode[12]        =     0x800C;            0x0001;            0x0000;           2   # rear delay video
    Mode[13]        =     0x8009;            0x0001;            0x0000;           0   # rear pro


[ThirdAppCamSensorSettingMap]
    #                                        camera_id     FPS   width    height  operation_mode     index
    com.tencent.mm[0]                          =   -1;     -1;    -1;      -1;         -1;            0
    com.linkedin.android[0]                    =   -1;     -1;    -1;      -1;         -1;            0
    com.xvideostudio.videoeditorlite[0]        =   -1;     -1;    -1;      -1;         -1;            0
    com.twitter.android[0]                     =   -1;     -1;    -1;      -1;         -1;            0
    com.xvideostudio.videoeditor[0]            =   -1;     -1;    -1;      -1;         -1;            0
    com.imo.android.imoim[0]                   =   -1;     -1;    -1;      -1;         -1;            1
    com.google.android.apps.tachyon[0]         =   -1;     -1;    -1;      -1;         -1;            2
    com.tencent.mobileqq[0]                    =   -1;     -1;    -1;      -1;         -1;            2
    com.skype.raider[0]                        =   -1;     -1;    -1;      -1;         -1;            2
    com.google.android.googlequicksearchbox[0] =   -1;     -1;    -1;      -1;         -1;            2
    com.tencent.ttpic[0]                       =   -1;     -1;    -1;      -1;         -1;            2
    com.zhiliaoapp.musically[0]                =   -1;     -1;    -1;      -1;         -1;            2
    com.ss.android.ugc.trill[0]                =   -1;     -1;    -1;      -1;         -1;            2
    video.vue.android[0]                       =   -1;     -1;    -1;      -1;         -1;            2
    com.viber.voip[0]                          =    0;     -1;    -1;      -1;         -1;            2
    com.viber.voip[1]                          =    1;     -1;    -1;      -1;         -1;            1
    com.instagram.android[0]                   =   -1;     -1;    -1;      -1;         -1;            0
    com.google.android.apps.messaging[0]       =   -1;     -1;    -1;      -1;         -1;            1
    com.yiwuzhibo[0]                           =   -1;     -1;    -1;      -1;         -1;            2

[oppoCamRatioSensorSettingMap]
    #                    operation_mode     Ratio_mode         sensor_mask   index
    Mode[0]         =     0x8001;            0x0001;            0x0004;       2    # WIDE CAPTURE 16:9/FULL
    Mode[1]         =     0x8001;            0x0001;            0x0001;       2    # WIDE CAPTURE 16:9/FULL
    Mode[2]         =     0x8019;            0x0001;            0x0004;       2    # NIGHT WIDE CAPTURE
    Mode[3]         =     0x8019;            0x0001;            0x0001;       2    # NIGHT REAR CAPTURE

[EngCamSensorSettingMap]
    #                  operation_mode   sensor_mask   feature_mask   index
    Mode[0]        =      0x0;            0x0002;        0x0000;       1

[BokehConfigureInformation]
    RearBokehImgSizeList           = 3264; 2448; 2304; 1728
    RearMonoBokehImgSizeList       = 3264; 2448; 1600; 1200
    RearMonoSecondBokehImgSizeList = 3264; 2448; 1600; 1200
    CaliSize = 2048
    DualCaliPathSrc  = /odm/etc/camera/stereoParams.bin
    DualCaliPathTARGET = /mnt/vendor/persist/camera/dual_calibration/stereoParams.bin

[ArcsoftAfterSaleCalibration]
    binCount                 = 1

[CameraTypeInfo]
#             typeCount   cameraType
TypeInfo[0]     =   0;      2
TypeInfo[1]     =   1;      13
TypeInfo[2]     =   2;      17

[CaliDataBufferSize]
#             cali_data_buffer_size
BufferSize      =   2048

[CtsCamSensorSettingMap]
#                  cts_mode         sensor_mask   index
Mode[0]        =    0x0001;            0x0001;       1;

[OemSupportedCustomImageSizes]
#                   width   height
ImageSizes[0]   =   4608;   3456
ImageSizes[1]   =   4608;   2592
ImageSizes[2]   =   4608;   2080
ImageSizes[3]   =   4208;   1920
ImageSizes[4]   =   4160;   3120
ImageSizes[5]   =   4160;   1872
ImageSizes[6]   =   4160;   2336
ImageSizes[7]   =   4096;   2304
ImageSizes[8]   =   4096;   2160
ImageSizes[9]   =   4000;   3000
ImageSizes[10]  =   3840;   2160
ImageSizes[11]  =   3456;   3456
ImageSizes[12]  =   3264;   2448
ImageSizes[13]  =   3264;   1472
ImageSizes[14]  =   3200;   2400
ImageSizes[15]  =   3264;   1840
ImageSizes[16]  =   3120;   3120
ImageSizes[17]  =   2976;   2976
ImageSizes[18]  =   2688;   1512
ImageSizes[19]  =   2592;   1944
ImageSizes[20]  =   2592;   1940
ImageSizes[21]  =   2448;   2448
ImageSizes[22]  =   2400;   1080
ImageSizes[23]  =   2304;   1728
ImageSizes[24]  =   2048;   1536
ImageSizes[25]  =   1920;   1440
ImageSizes[26]  =   1920;   1080
ImageSizes[27]  =   1680;   720
ImageSizes[28]  =   1600;   1200
ImageSizes[29]  =   1600;   900
ImageSizes[30]  =   1600;   720
ImageSizes[31]  =   1440;   1080
ImageSizes[32]  =   1200;   1200
ImageSizes[33]  =   1280;   960
ImageSizes[34]  =   1280;   768
ImageSizes[35]  =   1280;   720
ImageSizes[36]  =   1080;   1080
ImageSizes[37]  =   1024;   738
ImageSizes[38]  =   1024;   768
ImageSizes[39]  =   960;   960
ImageSizes[40]  =   960;   720
ImageSizes[41]  =   864;   480
ImageSizes[42]  =   800;   600
ImageSizes[43]  =   800;   480
ImageSizes[44]  =   720;   1280
ImageSizes[45]  =   720;   720
ImageSizes[46]  =   720;   480
ImageSizes[47]  =   640;   480
ImageSizes[48]  =   640;   400
ImageSizes[49]  =   640;   360
ImageSizes[50]  =   352;   288
ImageSizes[51]  =   320;   240
ImageSizes[52]  =   240;   320
ImageSizes[53]  =   176;   144

[OemFpsRangeSettingMap]
    #                     fps_head     fps_tail
    OemFpsRange[0] =         7;          30;
    OemFpsRange[1] =        10;          10;
    OemFpsRange[2] =        15;          15;
    OemFpsRange[3] =        15;          24;
    OemFpsRange[4] =        24;          24;
    OemFpsRange[5] =        30;          30;

[PinFiles]
    so[0]=/vendor/lib64/com.qti.feature2.gs.so;
    so[1]=/vendor/lib64/com.qti.feature2.anchorsync.so;
    so[2]=/vendor/lib64/com.qti.feature2.demux.so;
    so[3]=/vendor/lib64/com.qti.feature2.frameselect.so;
    so[4]=/vendor/lib64/com.qti.feature2.fusion.so;
    so[5]=/vendor/lib64/com.qti.feature2.generic.so;
    so[6]=/vendor/lib64/com.qti.feature2.hdr.so;
    so[7]=/vendor/lib64/com.qti.feature2.memcpy.so;
    so[8]=/vendor/lib64/com.qti.feature2.mfsr.so;
    so[9]=/vendor/lib64/com.qti.feature2.qcfa.so;
    so[10]=/vendor/lib64/com.qti.feature2.rawhdr.so;
    so[11]=/vendor/lib64/com.qti.feature2.rt.so;
    so[12]=/vendor/lib64/com.qti.feature2.serializer.so;
    so[13]=/vendor/lib64/com.qti.feature2.stub.so;
    so[14]=/vendor/lib64/com.qti.feature2.swmf.so;
    so[15]=/vendor/lib64/libipebpsstriping.so;
    so[16]=/vendor/lib64/camera/components/com.qti.stats.hafoverride.so;
    so[17]=/vendor/lib64/libcamxifestriping.so;
    so[18]=/vendor/lib64/libcamxswprocessalgo.so;
    so[19]=/vendor/lib64/libipebpsstriping.so;
    so[20]=/vendor/lib64/camera/components/com.qti.stats.pdlib.so;